
.env 
logs/
node_modules/
dist/
cline_docs/
.cache/
.vscode/
tests/
.idea/
.DS_Store
.venv/
*.db
*.db-journal
*.db-shm
*.db-wal
*.db-trace
*.db-lock
*.db-trace
*.db-lock
tsconfig.tsbuildinfo
migrate_rawdata_to_compressed.py
run_vacuum.py
*audit.json

## DATA 
data/
reports/
active_alerts/
all_alerts/
alerts.json
analysis_reports/
debug_output/

## PROJECT DOCUMENTATION
9. DNM.md
99.DS01.md
99.DS02.md
99.DS03.md
99.DS04.md
99.DS05.md
99.DS06.md

*.ps1
*.bat